<div class="menu" {{bind-attr style="menuStyle"}}>
    <div class="title" {{bind-attr style="titleStyle"}}>
        {{title}}
    </div>
    <ul>
        {{#each items as |item|}}
            {{#if item.selected}}
                <li>
                    <a
                        href="{{ item.link }}"
                        class="selected"
                        {{bind-attr style="menuItemSelectedStyle"}}
                    >
                        {{ item.text }}
                    </a>
                </li>
            {{else}}
                <li>
                    <a
                        href="{{ item.link }}"
                        {{bind-attr style="menuItemStyle"}}
                    >
                        {{ item.text }}
                    </a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>