<div class="menu" {{bind-attr style="background-color: {{backgroundColor}};"}}>
    <div {{bind-attr class="title" style="border-bottom: solid 1px {{titleBorderBottomColor}}; color: {{titleColor}}"}}>
        {{title}}
    </div>
    <ul>
        {{#each items as |item|}}
            <li>
                <a
                    href="{{ item.link }}"
                    {{bind-attr class="item.class" style="item.style"}}
                >
                    {{ item.text }}
                </a>
            </li>
        {{/each}}
    </ul>
</div>