<div class="menu" {{bind-attr style="menuStyle"}}>
    <div class="title" {{bind-attr style="titleStyle"}}>
        {{title}}
    </div>
    <ul>
        {{#each items as |item index|}}
            {{#if item.selected}}
                <li {{action "select" index}}>
                    {{#link-to item.link class="selected" style=menuItemSelectedStyle}}
                        {{ item.text }}
                    {{/link-to}}
                </li>
            {{else}}
                <li {{action "select" index}}>
                    {{#link-to item.link style=menuItemStyle }}
                        {{ item.text }}
                    {{/link-to}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>