<div class="menu" style="background-color: {{backgroundColor}};">
    <div class="title" style="border-bottom: solid 1px {{titleBorderBottomColor}}; color: {{titleColor}}">
        {{title}}
    </div>
    <ul>
        {{#each item in items}}
            <li>
                <a
                    href="{{ item.link }}"
                    {{bind-attr class="item.class" style="item.style"}}
                >
                    {{ item.text }}
                </a>
            </li>
        {{/each}}
    </ul>
</div>